--
-- PostgreSQL database dump
--

\restrict gOTQOTmGB57sjQ7ZGasKEMCIFYcElsVVZCfA715w4hEQgPJCKcAtPrA9cIJYSR7

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_categories (
    id character varying NOT NULL,
    name character varying NOT NULL,
    total_quantity integer NOT NULL,
    available_quantity integer NOT NULL
);


--
-- Name: asset_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_reports (
    id character varying NOT NULL,
    asset_id character varying NOT NULL,
    reported_by_id character varying NOT NULL,
    report_type character varying NOT NULL,
    description text NOT NULL,
    severity character varying,
    status character varying,
    created_at timestamp without time zone NOT NULL,
    resolved_at timestamp without time zone,
    admin_notes text
);


--
-- Name: asset_status_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_status_logs (
    id character varying NOT NULL,
    asset_id character varying NOT NULL,
    old_status character varying,
    new_status character varying NOT NULL,
    changed_at timestamp without time zone NOT NULL
);


--
-- Name: assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assets (
    id character varying NOT NULL,
    asset_tag character varying NOT NULL,
    name character varying NOT NULL,
    category_id character varying,
    purchase_date date,
    cost double precision,
    image_url character varying,
    document_url character varying,
    vendor character varying,
    location character varying,
    status character varying NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL
);


--
-- Name: assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assignments (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    asset_id character varying NOT NULL,
    assigned_date timestamp without time zone NOT NULL,
    return_date timestamp without time zone
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id character varying NOT NULL,
    action character varying NOT NULL,
    performed_by_id character varying,
    "timestamp" timestamp without time zone NOT NULL
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    title character varying NOT NULL,
    message text NOT NULL,
    notification_type character varying NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    read_at timestamp without time zone,
    action_url character varying,
    notification_data text
);


--
-- Name: requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.requests (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    asset_id character varying,
    item_name character varying NOT NULL,
    item_type character varying NOT NULL,
    notes text,
    status character varying NOT NULL,
    admin_notes text,
    requested_at timestamp without time zone NOT NULL,
    CONSTRAINT request_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Approved'::character varying, 'Rejected'::character varying])::text[])))
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id character varying NOT NULL,
    name character varying NOT NULL,
    permissions text NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    role_id character varying NOT NULL,
    secondary_role_id character varying,
    name character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    department character varying,
    contact character varying,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL
);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.alembic_version (version_num) VALUES ('notifications_table');


--
-- Data for Name: asset_categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: asset_reports; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.asset_reports (id, asset_id, reported_by_id, report_type, description, severity, status, created_at, resolved_at, admin_notes) VALUES ('b372ece7-5d83-4c49-a16e-1a03d41d848a', 'dd2597d8-4986-4950-a916-7c5019547c76', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', 'Not working', 'bad', 'Medium', 'Under Review', '2026-04-22 13:26:55.337422', NULL, 'it is looking ');
INSERT INTO public.asset_reports (id, asset_id, reported_by_id, report_type, description, severity, status, created_at, resolved_at, admin_notes) VALUES ('0b6b52da-9c89-4376-9a4f-eb7217047afa', 'ceba4785-26e2-411b-89a5-cdc4d6e38688', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', 'Not working', 'll', 'Medium', 'Pending', '2026-04-22 16:08:56.24648', NULL, NULL);
INSERT INTO public.asset_reports (id, asset_id, reported_by_id, report_type, description, severity, status, created_at, resolved_at, admin_notes) VALUES ('1b361641-98dc-4027-a9a3-ede4e08b13eb', 'ceba4785-26e2-411b-89a5-cdc4d6e38688', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', 'Not working', 'bad', 'Medium', 'Pending', '2026-04-22 16:12:48.268105', NULL, NULL);


--
-- Data for Name: asset_status_logs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.asset_status_logs (id, asset_id, old_status, new_status, changed_at) VALUES ('f7cdea86-fd6f-4806-8370-45116fa79f97', '46a0f4bd-2ba3-43fa-bf09-d0f136338f69', 'Available', 'Assigned', '2026-03-23 03:20:34.375327');
INSERT INTO public.asset_status_logs (id, asset_id, old_status, new_status, changed_at) VALUES ('aeb13b7c-505b-4b72-b8fc-e6bc88116172', '86464c0a-d9c3-4653-b490-8174276b3d27', 'Available', 'Assigned', '2026-03-28 03:20:34.376486');
INSERT INTO public.asset_status_logs (id, asset_id, old_status, new_status, changed_at) VALUES ('fef1e0a9-27a6-409e-b805-3da2f141a484', '146ddfef-c187-4d33-9aa6-0e5db01e698f', 'Available', 'Assigned', '2026-04-02 03:20:34.377482');


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.assets (id, asset_tag, name, category_id, purchase_date, cost, image_url, document_url, vendor, location, status, is_active, created_at) VALUES ('42495a36-dc40-4109-8250-4eb69aaea287', 'IPHONE-13-001', 'iPhone 13 Pro 256GB', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 'Available', true, '2026-04-22 03:20:34.361342');
INSERT INTO public.assets (id, asset_tag, name, category_id, purchase_date, cost, image_url, document_url, vendor, location, status, is_active, created_at) VALUES ('146ddfef-c187-4d33-9aa6-0e5db01e698f', 'MONITOR-DELL-001', 'Dell UltraSharp 27" U2720Q', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 'Assigned', true, '2026-04-22 03:20:34.361322');
INSERT INTO public.assets (id, asset_tag, name, category_id, purchase_date, cost, image_url, document_url, vendor, location, status, is_active, created_at) VALUES ('46a0f4bd-2ba3-43fa-bf09-d0f136338f69', 'LAPTOP-HP-001', 'HP EliteBook 840 G8', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 'Assigned', true, '2026-04-22 03:20:34.361312');


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.assignments (id, user_id, asset_id, assigned_date, return_date) VALUES ('34380a98-8a7a-414d-875b-98a3d913eadf', '01c685bf-1fa6-4659-96e4-d262f91fa560', '46a0f4bd-2ba3-43fa-bf09-d0f136338f69', '2026-03-23 03:20:34.375327', NULL);
INSERT INTO public.assignments (id, user_id, asset_id, assigned_date, return_date) VALUES ('9851cd7a-9c49-46c4-a2fc-a98d3ae677e9', '207ec37f-40ea-4caf-8c6f-3277acaaaf18', '86464c0a-d9c3-4653-b490-8174276b3d27', '2026-03-28 03:20:34.376486', NULL);
INSERT INTO public.assignments (id, user_id, asset_id, assigned_date, return_date) VALUES ('27d9e74e-359c-4104-ac00-4dc9c8426a4d', 'ba57235f-eed2-4ebe-870b-3280ad499be4', '146ddfef-c187-4d33-9aa6-0e5db01e698f', '2026-04-02 03:20:34.377482', NULL);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.notifications (id, user_id, title, message, notification_type, is_read, created_at, read_at, action_url, notification_data) VALUES ('fdb13cb7-934e-4c36-9dc4-b69aa43ee38d', '2ee122ba-0acb-4ed8-9338-fa87c1cabef8', 'New Equipment Request', 'Employee User requested Test Laptop (Laptop)', 'request', false, '2026-04-22 16:57:52.832058', NULL, '/admin-requests', '{"request_id": "89d42631-5e4f-432a-80c5-e99fe024707d", "user_id": "bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7"}');
INSERT INTO public.notifications (id, user_id, title, message, notification_type, is_read, created_at, read_at, action_url, notification_data) VALUES ('1d1f24a8-32cc-48d3-bab3-b89765374fe3', '939c9bfc-ffb2-4d56-ae30-23ebbce4e2ca', 'New Equipment Request', 'Employee User requested Test Laptop (Laptop)', 'request', false, '2026-04-22 16:57:52.85009', NULL, '/admin-requests', '{"request_id": "89d42631-5e4f-432a-80c5-e99fe024707d", "user_id": "bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7"}');
INSERT INTO public.notifications (id, user_id, title, message, notification_type, is_read, created_at, read_at, action_url, notification_data) VALUES ('896ce7d8-47cd-4e69-b17a-bb81e46886dd', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', 'Request Submitted', 'Your request for Test Laptop has been submitted successfully.', 'request', false, '2026-04-22 16:57:52.864319', NULL, '/my-requests', '{"request_id": "89d42631-5e4f-432a-80c5-e99fe024707d"}');


--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.requests (id, user_id, asset_id, item_name, item_type, notes, status, admin_notes, requested_at) VALUES ('a731e304-e8ed-471a-9ba6-aee8dc7c6ba2', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', NULL, 'skanda', 'Laptop', NULL, 'Rejected', 'it is costly', '2026-04-22 12:57:45.684546');
INSERT INTO public.requests (id, user_id, asset_id, item_name, item_type, notes, status, admin_notes, requested_at) VALUES ('986512ae-a217-4755-a0b7-13775b513da5', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', 'a8aeb81b-0b2b-47e8-984c-6b92933ec0aa', 'mouse', 'Equipment', 'my old mouse is not woking good', 'Approved', NULL, '2026-04-22 12:59:09.782708');
INSERT INTO public.requests (id, user_id, asset_id, item_name, item_type, notes, status, admin_notes, requested_at) VALUES ('5353a916-a3ec-4bd6-9059-f1a086cc3e94', 'bb7ee643-c9cb-49de-a6f7-ca5f8abb46b7', NULL, 'Test Laptop M3', 'Laptop', 'Needed for development', 'Approved', 'Approved for new project - Q2 2024', '2026-04-22 13:22:20.5166');


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.roles (id, name, permissions) VALUES ('bea322a4-011e-4e06-95bb-d6534250e8b8', 'Super Admin', '["all"]');
INSERT INTO public.roles (id, name, permissions) VALUES ('31ce2068-6d35-4d92-b0c3-764f032f3f9e', 'Employee', '["view:assets", "view:assignments", "view:dashboard", "create:reports", "view:my_reports"]');
INSERT INTO public.roles (id, name, permissions) VALUES ('3282c72b-c4f0-40d5-86b6-1fa5d86ed5ed', 'Admin', '["view:roles", "manage:assignments", "view:users", "manage:users", "view:assignments", "view:assets", "view:reports", "view:dashboard", "manage:roles", "manage:reports", "manage:assets"]');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users (id, role_id, secondary_role_id, name, email, hashed_password, department, contact, is_active, created_at) VALUES ('01c685bf-1fa6-4659-96e4-d262f91fa560', '31ce2068-6d35-4d92-b0c3-764f032f3f9e', NULL, 'Alice Johnson', 'alice@company.com', '$2b$12$8wU3YJyYQbnqrP3n8zHDj.1MW6cmq1cxPW/5/eRxlOHvA9AQUoSm.', NULL, NULL, true, '2026-04-22 03:20:34.336042');
INSERT INTO public.users (id, role_id, secondary_role_id, name, email, hashed_password, department, contact, is_active, created_at) VALUES ('207ec37f-40ea-4caf-8c6f-3277acaaaf18', '31ce2068-6d35-4d92-b0c3-764f032f3f9e', NULL, 'Bob Smith', 'bob@company.com', '$2b$12$u0gNRtXTR4WuMKclG8p56OFx7XwrFVT6Z4s17w7SH4BtrY386/dfe', NULL, NULL, true, '2026-04-22 03:20:34.336045');
INSERT INTO public.users (id, role_id, secondary_role_id, name, email, hashed_password, department, contact, is_active, created_at) VALUES ('ba57235f-eed2-4ebe-870b-3280ad499be4', '31ce2068-6d35-4d92-b0c3-764f032f3f9e', NULL, 'Carol Williams', 'carol@company.com', '$2b$12$7qVkFS2m8fB3OV3pEG7gxO9tJtXzlGmgONRs.KYlexDlWUBQJyyye', NULL, NULL, true, '2026-04-22 03:20:34.336048');


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (id);


--
-- Name: asset_reports asset_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_reports
    ADD CONSTRAINT asset_reports_pkey PRIMARY KEY (id);


--
-- Name: asset_status_logs asset_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_status_logs
    ADD CONSTRAINT asset_status_logs_pkey PRIMARY KEY (id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_asset_categories_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_categories_id ON public.asset_categories USING btree (id);


--
-- Name: ix_asset_categories_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_asset_categories_name ON public.asset_categories USING btree (name);


--
-- Name: ix_asset_reports_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_reports_asset_id ON public.asset_reports USING btree (asset_id);


--
-- Name: ix_asset_reports_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_reports_id ON public.asset_reports USING btree (id);


--
-- Name: ix_asset_reports_reported_by_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_reports_reported_by_id ON public.asset_reports USING btree (reported_by_id);


--
-- Name: ix_asset_status_logs_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_status_logs_asset_id ON public.asset_status_logs USING btree (asset_id);


--
-- Name: ix_asset_status_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_asset_status_logs_id ON public.asset_status_logs USING btree (id);


--
-- Name: ix_assets_asset_tag; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_assets_asset_tag ON public.assets USING btree (asset_tag);


--
-- Name: ix_assets_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assets_id ON public.assets USING btree (id);


--
-- Name: ix_assignments_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assignments_asset_id ON public.assignments USING btree (asset_id);


--
-- Name: ix_assignments_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assignments_id ON public.assignments USING btree (id);


--
-- Name: ix_assignments_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assignments_user_id ON public.assignments USING btree (user_id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_audit_logs_performed_by_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_logs_performed_by_id ON public.audit_logs USING btree (performed_by_id);


--
-- Name: ix_notifications_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: ix_notifications_is_read; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_requests_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requests_asset_id ON public.requests USING btree (asset_id);


--
-- Name: ix_requests_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requests_id ON public.requests USING btree (id);


--
-- Name: ix_requests_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_requests_user_id ON public.requests USING btree (user_id);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: asset_reports asset_reports_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_reports
    ADD CONSTRAINT asset_reports_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: asset_reports asset_reports_reported_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_reports
    ADD CONSTRAINT asset_reports_reported_by_id_fkey FOREIGN KEY (reported_by_id) REFERENCES public.users(id);


--
-- Name: asset_status_logs asset_status_logs_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_status_logs
    ADD CONSTRAINT asset_status_logs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: assets assets_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id);


--
-- Name: assignments assignments_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: assignments assignments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_performed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_performed_by_id_fkey FOREIGN KEY (performed_by_id) REFERENCES public.users(id);


--
-- Name: users fk_user_secondary_role; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_user_secondary_role FOREIGN KEY (secondary_role_id) REFERENCES public.roles(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: requests requests_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: requests requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict gOTQOTmGB57sjQ7ZGasKEMCIFYcElsVVZCfA715w4hEQgPJCKcAtPrA9cIJYSR7

